# -------------------
# Python
# -------------------
__pycache__/
**/.pyc
**/.pyo
**/.pyd
**/.log

# Virtual environment
nova/
venv/
**/.env/
.env

# -------------------
# dbt
# -------------------
target/
dbt_packages/
logs/

# -------------------
# Data files
# -------------------
data/
*.csv
*.parquet

# -------------------
# OS files
# -------------------
.DS_Store
Thumbs.db

# -------------------
# VS Code
# -------------------
.vscode/

# -------------------
# Secrets
# -------------------
.env